@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="ChordController">
    <div class="jumbotron">
        <h1 ng-bind="chord"></h1>
        <h2 ng-bind="result"></h2>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" ng-model="answer" class="form-control" placeholder="e.g. C# min7b5"/>
            </div>
            <button class="btn btn-primary" ng-click="guess()">Guess</button>
            <button class="btn btn-danger" ng-click="reveal()">Reveal</button>
        </form>
        <p ng-bind="score"></p>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/angular")

    <script>
        (function () {
            var app = angular.module("Root");
            app.run();
        })();
    </script>
}